 *,
 *::after,
 *::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html{
   font-size: 62.5%;
   transition: font-size 0.3s;
 }

 body{
   font-family: sans-serif;
 }

body *{
  -webkit-font-smoothing: subpixel-antialiased;
}


.main{
  height: 100vh;
  width: 100%;
  background-color: lightgray;
}

/*----left----*/

.header{
  width: 25rem;
  height: 100%;
  padding: 4rem;
  background-color: #fff;
  position: relative;
}

.header ul{
  list-style: none;
}

.header > .top-list > ul > li:not(:last-child),
.header > .bottom-list > ul >li:not(:last-child){
  margin-bottom: 2rem;
}

.header ul li svg{
  float:left;
}

.header ul li p{
  font-weight: 700;
  font-size: 1.2rem;
  float: right;
  color: #83748b;

  text-transform: uppercase;
}

.header ul li{
  text-decoration: none;
  display: inline-block;
  position: relative;
}

li *{
  position: relative;
  z-index: 5;
}

svg path{
  transition: fill 0.2s easy-in-out;
}

li p{
  transition: color 0.2s easy-in-out;
}

.money .st0{
  transition: stroke 0.2s easy-in-out;
}

.house path,
.run path,
.phone path,
.account path,
.settings path{
  fill: #ccc;
}

.balance .st0{
  stroke: #ccc;
}

.phone{
  margin-left: 6px;
}

.runp{
  margin-top: 12px;
}

.runq{
  margin-top: 8px;
}

.balance{
  margin-left: -4px;
  width: 21%
}

.bottom-list{
  position: absolute;
  transform-origin: bottom;
  bottom: 4rem;
  width:calc(100% - 8rem);
}

.radioClass{
  opacity: 0;
  width: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 20;
}

.radioClass:checked ~ svg path{
  fill: tomato;
}

.radioClass:checked ~ .balance .st0{
  fill: none;
  stroke: tomato;
}

.radioClass:checked ~ p{
  color:tomato;
}


.radioClass:checked ~ .svg-bg{
  opacity: 1;
}

.svg-bg{
  width: 100%;
  height: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.2);
  border-radius: 1rem;
  z-index: 0;
  opacity: 0
  padding:1rem;
  clear: both;
  transition: 0.2 easy-in-out;
  background-color: rgba(232, 232, 232, 0.5);
}
